<!DOCTYPE html>
<html>
  <head>
    <title>Bulking Up</title>
  </head>
  <body>
    <header>
      <h1>Bulking Up Plan</h1>
    </header>
    <main>
      <section>
        <h2>Recommended Workouts</h2>
        <p>Here are some recommended workouts to help you bulk up:</p>
        <ul>
          <li>Deadlifts</li>
          <li>Squats</li>
          <li>Bench Press</li>
          <li>Barbell Rows</li>
          <li>Shoulder Press</li>
        </ul>
      </section>
      <section>
        <h2>Number of Recommended Days</h2>
        <p>For optimal results, we recommend working out at least 4 days a week.</p>
      </section>
      <section>
        <h2>Select Your Workout Days</h2>
        <p>Select the days you want to work out:</p>
        <form>
          <label for="monday">Monday</label>
          <input type="checkbox" id="monday" name="workout-day" value="monday">
          <label for="tuesday">Tuesday</label>
          <input type="checkbox" id="tuesday" name="workout-day" value="tuesday">
          <label for="wednesday">Wednesday</label>
          <input type="checkbox" id="wednesday" name="workout-day" value="wednesday">
          <label for="thursday">Thursday</label>
          <input type="checkbox" id="thursday" name="workout-day" value="thursday">
          <label for="friday">Friday</label>
          <input type="checkbox" id="friday" name="workout-day" value="friday">
          <label for="saturday">Saturday</label>
          <input type="checkbox" id="saturday" name="workout-day" value="saturday">
          <label for="sunday">Sunday</label>
          <input type="checkbox" id="sunday" name="workout-day" value="sunday">
        </form>
      </section>
    </main>
  </body>
</html>
