<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logged Out</title>
  <link rel="stylesheet" href="./css/logout.css">
</head>

<body>
  <h1>You have been logged out</h1>
  <p>Thank you for using our application. Please log in again to continue.</p>
  <a href="/login">Login</a>
</body>

</html>
