<!DOCTYPE html>
<html>
  <head>
    <title>Recommended Weightloss Workouts</title>
  </head>
  <body>
    <header>
      <h1>Recommended</h1>
    </header>
    <main>
      <section>
        <h2>Workouts</h2>
        <ul>
          <li>Planks</li>
          <li>Cardio</li>
          <li>Curls</li>
        </ul>
      </section>
      <section>
        <h2>Number of Recommended Days</h2>
        <p>3 days per week</p>
      </section>
      <section>
        <h2>Select Workout Days</h2>
        <form>
          <label for="monday">Monday</label>
          <input type="checkbox" id="monday" name="monday" value="monday">
          <label for="tuesday">Tuesday</label>
          <input type="checkbox" id="tuesday" name="tuesday" value="tuesday">
          <label for="wednesday">Wednesday</label>
          <input type="checkbox" id="wednesday" name="wednesday" value="wednesday">
          <label for="thursday">Thursday</label>
          <input type="checkbox" id="thursday" name="thursday" value="thursday">
          <label for="friday">Friday</label>
          <input type="checkbox" id="friday" name="friday" value="friday">
          <label for="saturday">Saturday</label>
          <input type="checkbox" id="saturday" name="saturday" value="saturday">
          <label for="sunday">Sunday</label>
          <input type="checkbox" id="sunday" name="sunday" value="sunday">
        </form>
      </section>
    </main>
  </body>
</html>

